.git
.github
.venv
.env
__pycache__
*.pyc
*.pyo
.terraform
terraform/.terraform
terraform/lambda_deployment_package
terraform/lambda_layer
terraform/*.zip
docs
tests
scripts
lambda
.kiro
.pylintrc
*.md
